:root {
  /* widths */
  --container-width: 1216px;
  --container-width-lg: 960px;
  --container-width-tablet: 708px;
  --container-width-sm: 540px;
  --container-width-mobile: 100%;
  --grid-template-columns: 332px 244px 244px;
  --header-height: 76px;

  /* paddings */
  --container-padding: 0;

  /* transitions */
  --drawer-transition-speed: 0.3s;

  /* shadows */
  --main-shadow: 0px 4px 10px rgb(106 99 118 / 10%);
  --focus-shadow: 0 0 0 3px var(--color-purple-100);
  --focus-shadow-error: 0 0 0 3px var(--color-red-100);
  --focus-shadow-valid: 0 0 0 3px var(--color-green-200);

  /* z-index */
  --z-index-modal: 1000;
}
