.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--background-button);
  background-color: var(--background-block);
  color: var(--border-color);
  border-radius: 4px;
  padding: 0.5rem;
  transition: border-color 0.3s;
  &:hover {
    border: 1px solid var(--text-color-link-disabled);

    --icon-fill: var(--text-color-lighter);
  }

  &:active {
    border: 1px solid var(--border-focus-purple);

    --icon-fill: var(--text-color-more-lightest);
  }

  &:focus-within {
    border: 1px solid var(--background-primary);

    --icon-fill: var(--text-color-bright);
  }
}

.wrapper > * + * {
  margin-left: 0.5rem;
}

.wrapper-disabled {
  border: 1px solid var(--background-button);
  background: var(--background-app);
  cursor: not-allowed;
  opacity: 0.6;
  color: var(--text-color-lighter);

  &:hover,
  &:focus-within,
  &:active {
    border: 1px solid var(--background-button);

    --icon-fill: var(--text-color-more-lightest);
  }
}

.wrapper-error {
  border-color: var(--color-error);
  border: 1px solid var(--error-color-red);

  &:hover,
  &:focus-within,
  &:active {
    border: 1px solid var(--error-color-red);
  }
}

.wrapper-S {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.wrapper-M {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.wrapper-L {
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.input-prefix,
.input-suffix {
  margin: 0 0.5rem;
}

.input-prefix {
  color: var(--color-prefix);
}

.input-suffix {
  color: var(--color-suffix);
}
